<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged users</title>
</head>
<body>
    <h1>Hey, you logged</h1>
    <p> <%= username %></p>
    <p>Would you like to add an avatar?</p>
    <form action="" method="post" enctype="multipart/form-data">
        <label for="image">Image</label>
        <input type="file" name="image" id="image" accept="image/*">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>